@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Email"] = "filipeule@gmail.com";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>@ViewData["Email"]</p>
